#navbar{
    position: fixed;
    z-index: 1;
}
#searchbutton{
    position:relative;
    transition-property: transform,border-radius;
    transition-duration: 3s;

}
#searchbutton:hover{
    transform:rotateY(360deg);
    border-radius: 50%;
}
#seemore{
    position: relative;
    transition-property: transform,border-radius;
    transition-duration: 3s;
}
#seemore:hover{
    transform:rotateY(360deg);
    border-radius: 50%;
}
#title{
    position: relative;
    animation: cool;
    top: 50px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes cool{
    0% {left: -320px;}
    100%{left: 0px;}
}
#searchdiv{
    position: relative;
    animation: cool2;
    padding: 0px;
    margin-top: 100px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
@keyframes cool2{
    0% {left: -2000px;}
    75%{left: 100px;}
    100%{left: 0px;}
}
#homesearch{
    width: 700px;
    margin-left:20px ;
}
